<%- include('../partials/_navbar') %>

<h1>Add New Item</h1>
<form action="/users/<%= user._id %>/foods" method="POST">
  <label for="name">Item Name:</label>
  <input type="text" name="name" id="name" required>
  <button type="submit">Add</button>
</form>
