<%- include('../partials/_navbar.ejs') %>
<h1>My Recipes</h1>
<% if (recipes.length > 0) { %>
  <ul>
    <% recipes.forEach(recipe => { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No recipes yet. Add some!</p>
<% } %>
<a href="/recipes/new">Add New Recipe</a>
